<h1>Lista de Productos</h1>
<div class="productsContainer" id="productsContainer">
  {{#each cleanedProducts}}
    <div class="productCard">
      <h2>{{title}}</h2>
      <p><strong>ID:</strong> {{id}}</p>
      <p><strong>Descripción:</strong> {{description}}</p>
      <p><strong>Código:</strong> {{code}}</p>
      <p><strong>Precio:</strong> ${{price}}</p>
      <p><strong>Estado:</strong>
        {{#if status}}Disponible{{else}}No disponible{{/if}}</p>
      <p><strong>Stock:</strong> {{stock}}</p>
      <p><strong>Categoría:</strong> {{category}}</p>
    </div>
  {{/each}}
</div>